
  
<ion-footer class="mx-auto mt-40">
  <h1 class="items-center text-9xl text-white/60 mb-32 font-serif font-['Lora']">Let's talk</h1>
  <ion-card>
    <ion-item class="space-x-5 justify-center gap-5 pt-5">
      <p class="flex flex-row items-center">Her skal der stå noget tekst</p>
      <p class="flex flex-row items-center">Her skal der stå noget tekst</p>
      <p class="flex flex-row items-center">Her skal der stå noget tekst</p>
      <p class="flex flex-row items-center">Her skal der stå noget tekst</p>
    </ion-item>

  </ion-card>
</ion-footer>
