<ion-footer class="mx-auto mt-40 h-screen pt-24 ion-no-border" >
  <ion-grid>
    <ion-row class="flex flex-row justify-center">
      <h1 class="mb-5 text-5xl md:text-9xl text-white/60 mb-32 font-serif font-['Lora']items-center">Let's talk</h1>
    </ion-row>
    <ion-row>
    <ion-col>
      <ion-text class="flex flex-row justify-center p-8">Contact<br> About us <br> Partners <br> Press</ion-text>
    </ion-col>
    <ion-col>
      <ion-text class="flex flex-row justify-center p-8">Quality education<br> Equality <br> Industry & Infrastructure <br> life under the sea</ion-text>
    </ion-col>
    <ion-col>
      <ion-card class="flex flex-col justify-center ion-no-border ">
        <ion-icon name="logo-facebook" size="large" class="md:p-4"></ion-icon>
        <ion-icon name="logo-linkedin" size="large" class="md:p-4"></ion-icon>
        
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="flex flex-col justify-center ">
        <ion-icon name="mail-outline" size="large" class="md:p-4"></ion-icon>
        <ion-icon name="call-outline" size="large" class="md:p-4"></ion-icon>
      </ion-card>
    </ion-col>      
   </ion-row>
  </ion-grid> 
</ion-footer>
