ion-card-title.logo.text-xl.sm\:text-2xl.md\:text-3xl.ion-inherit-color.md.hydrated {
  color: white;
}

ion-icon.md\:py-4.ikon.md.icon-large.hydrated {
  margin-right: 15px;
}

.ikoner {
  margin: 0px;
}

.first {
  font-size: 28px;
  font-weight: bold;
}

ul li {
  margin: 5px 0px;
}


ul li:hover {
  color: white;
  cursor: pointer;
}

.pt-24 {
  padding-top: 0;
}

.ikon:hover {
  color: white;
}
