ion-card-title.logo.text-xl.sm\:text-2xl.md\:text-3xl.ion-inherit-color.md.hydrated {
  color: white;
}

ion-icon.md\:py-4.ikon.md.icon-large.hydrated {
  margin-right: 15px;
}

.ikoner {
  margin: 0px;
}

.first {
  font-size: 22px;
  font-weight: 500;
}

ul li {
  margin: 5px 0px;
}


ul li:hover {
  color: white;
  cursor: pointer;
}

.pt-24 {
  padding-top: 0;
}

.ikon:hover {
  color: white;
  cursor: pointer;
}

ion-row.row.md.hydrated {
  display: grid;
}

.mb-32 {
  margin-bottom: 1rem;
}

.ikoner {
  margin: 5px 0px 15px 0px;
}

ion-footer.mx-auto.mt-40.pt-24.ion-no-border.footer.md.footer-md.footer-toolbar-padding.hydrated {
  margin-bottom: 0px !important;
}



@media screen and (min-width: 576px) {

  ion-row.row.md.hydrated {
    display: flex;
  }

  .mb-32 {
    margin-bottom: 8rem;
}

ikoner {
  margin: 0px;
}

ion-footer.mx-auto.mt-40.pt-24.ion-no-border.footer.md.footer-md.footer-toolbar-padding.hydrated {
  margin-bottom: 50px !important;
}

}
