.header {
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0px 99999px rgb(0, 0, 0);
  padding-inline: 0px;
  margin: 0px;
  padding: 0px;

}

ion-card.z-30.md.hydrated {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}

ion-text.brødtekst h2 {
  font-size: 45px;
  color: white;
  margin-top: 10px;
  font-family: 'lora', serif;
}

.containeren {
  margin: 0px;
  border-radius: 0px;
}

.fancyText p{
  color: white;
  border-bottom: 1px solid white;
  margin-top: 50px;
  padding-bottom: 10px;
  font-family:  Helvetica, sans-serif;
  font-size: 18px !important;
}

.fancyTextTwo p {
  color: white;
  margin-bottom: 20px;
  font-size: 18px !important;
  margin-top: 10px;

}

.logo{
  position: absolute;
  top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: white;
}

.tekst {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 0px;
}

video.video {
  width: 100vw;
  height: 400px;
  position: relative;
  object-fit: cover;
}

@media screen and (min-width: 576px) {

  ion-text.brødtekst h2 {
    font-size: 55px;
  }


}


@media screen and (min-width: 769px) {


  .header {
    height: 100vh;
  }

  ion-text.brødtekst h2 {
    font-size: 65px;
  }

  .fancyText p {
    font-size: 22px;
    width: 360px;
    border-bottom: 0px;
    border-right: 1px solid white;
    margin-top: 0px;
    /* padding-right: 20px; */
    padding-right: 20px;
  }

  .fancyTextTwo p {
    font-size: 22px;
    /* margin-left: 20px !important; */
    padding-left: 20px;
  }

  /* ion-text.fancyTextTwo.md.hydrated {
    margin-left: 30px;
} */

  .text {
    display: flex;
    margin-top: 200px;
  }

  .tekst {
    padding-left: 100px;
  }

  .logo {
    padding-left: 100px;
  }

  video.video {
    height: 100vh;
  }



}


