<ion-card class="z-30">
  <ion-card-header class="header">
    <video
      class="video"
      loop
      muted
      autoplay
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
    >
      <source src="/assets/video/paperboat.webm" type="video/webm" />
    </video>
    <ion-card-title class="logo text-xl sm:text-2xl md:text-3xl">
      <a href=""> Every<span class="font-bold">Well.</span> </a>
    </ion-card-title>
    <div class="tekst">
      <ion-text class="brødtekst">
        <h2 class="">
          <span class="md:text-8xl text-4xl"
            >Every<span class="font-bold">Well </span>
            <span class="md:text-6xl text-2xl">Takes On</span></span
          >
          <br />
          <span class="md:text-5xl text-2xl text-white/70">
            Quality education, Infrastructure, <br />Life Below Water and Gender
            Equality.
          </span>
        </h2>
      </ion-text>

      <div class="text">
        <ion-text class="fancyText">
          <p class="">
            Helping Your company manage its gender equality, Industry,
            innovation & infrastructure, education and sustainability solutions.
          </p>
        </ion-text>

        <ion-text class="fancyTextTwo">
          <p>Simple solutions for complex problems</p>
        </ion-text>
      </div>
    </div>
  </ion-card-header>
</ion-card>
