<ion-card class="z-30">
  <ion-card-header class="header">

    <video class="video" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="/assets/video/paperboat.webm" type="video/webm" />
    </video>
    <ion-card-title class="logo text-xl sm:text-2xl md:text-3xl"
    >EveryWell. 
    <ion-img class="ion-no-padding ion-no-margin object-cover" src="src/assets/img/tinyWell.png"></ion-img></ion-card-title>
    <div class="tekst">

      <ion-text class="brødtekst invisible md:visible">
        <h2>Your Sustainable Choices</h2>
      </ion-text>

      <div class="text">
        <ion-text class="fancyText">
          <p class="invisible md:visible">
            Helping Your company manage its gender equality, Industry, innovation & infrastructure, education and sustainability solutions.
          </p>
        </ion-text>

        <ion-text class="fancyTextTwo">
          <p>Simple solutions for complex problems</p>
        </ion-text>
      </div>
    </div>
  </ion-card-header>
</ion-card>
