<ion-card class="z-30">
  <ion-card-header class="header">

    <video class="video" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="/assets/video/paperboat.webm" type="video/webm" />
    </video>
    <ion-card-title class="logo text-xl sm:text-2xl md:text-3xl"
    >EveryWell.</ion-card-title>
    <div class="tekst">

      <ion-text class="brødtekst">
        <h2>Desolenator water evolved</h2>
      </ion-text>

      <div class="text">
        <ion-text class="fancyText">
          <p>
            The world's first water purification from complex sources, powered
            by the sun
          </p>
        </ion-text>

        <ion-text class="fancyTextTwo">
          <p>Explore the future - Understanding the water crisis</p>
        </ion-text>
      </div>
    </div>
  </ion-card-header>
</ion-card>
