<div class="containeren">
<ion-grid class="">
  <ion-row>
    <ion-col>

      <h2 id="overskrift">Ensure Inclusive and Equitable Education</h2>

    </ion-col>
  </ion-row>
  <ion-row>
        <ion-text id="tekst" class="  text-sm text-white/60 leading-tight pr-24 md:text-base">We’re passionate about doing the best
          digital
          innovation we can and pushing new technology to its limits. And we achieve results we’re proud of.</ion-text>
  </ion-row>
  <ion-row class="p-0 m-0 w-auto ">
    <ion-col class="p-0 m-0 w-auto ">
      <ion-card class="ion-no-padding ion-no-margin w-auto aspect-[2.5/1] imgContainer">
        <ion-img class="ion-no-padding ion-no-margin rounded-xl object-cover" src="/assets/img/education.jpg"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
        <ion-text id="tekst" class="ion-no-padding ion-no-margin text-3xl text-white/70 px-20 leading-loose">We’re passionate about
          doing the best digital
          innovation we can and pushing new technology to its limits. And we achieve results we’re proud of.</ion-text>
  </ion-row>
</ion-grid>

</div>
