.containeren {
  text-align: left;
  margin: 10px;
}


.containeren #overskrift {
font-size: 23px;
text-align: left;
width: 100%;
margin: 0px;
margin-top: 50px !important;
padding: 0px;
}
ion-col.md.hydrated {
  padding: 0px;
}

.containeren #tekst {
  font-size: 17px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  line-height: 1.5em;
}


ion-title#overskrift {
  padding: 0px;
}


.containeren .tekst {
  padding: 0px;
  margin: 0px;
}


.imgContainer{
  margin: 20px 0px;
}

ion-grid.md.hydrated {
  padding: 0px;
}



@media screen and (min-width: 769px) {


.containeren #tekst {
  font-size: 19px;

}

}
