<div class="containeren">
<ion-grid class="">
  <ion-row>
    <ion-col>

      <h2 id="overskrift">Ensure Inclusive and Equitable Education</h2>

    </ion-col>
  </ion-row>
  <ion-row>
        <ion-text id="tekst" class="  text-sm text-white/60 leading-tight pr-24 md:text-base">Our main focus at EveryWell is to create a better and more sustainable world.
           And be part of the UN world goals 2030 plan.
           Our mission is to give businesses ideas and inspiration.</ion-text>
  </ion-row>
  <ion-row class="p-0 m-0 w-auto ">
    <ion-col class="p-0 m-0 w-auto ">
      <ion-card class="ion-no-padding ion-no-margin w-auto aspect-[2.5/1] imgContainer">
        <ion-img class="ion-no-padding ion-no-margin rounded-xl object-cover" src="/assets/img/education.jpg"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
        <ion-text id="tekst" class="ion-no-padding ion-no-margin text-3xl text-white/70 px-20 leading-loose">EveryWell gives solutions on
           Quality education, Infrastructure, Life Below Water and Gender Equality.
           These solutions are meant to inspire and bring ideas to Businesses.   </ion-text>
  </ion-row>
</ion-grid>

</div>
