<ul *ngIf="auth.user$ | async as user">
  <li>{{ user.name }}</li>
  <li>{{ user.email }}</li>
</ul>`

<ion-grid class="px-7 sm:px-20">
  <ion-row class="flex">
    <ion-col>
      <ion-text>
        <ion-title class="p-0">Titel</ion-title>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="">
    <ion-col class="">
      <ion-input expand="block" fill="outline" class="bg-mainBlue rounded"  placeholder="Der skal stå noget her"></ion-input>
    </ion-col>
    <ion-col size="2">
      <ion-button class="mx-5" type="submit" expand="block" fill="outline">Edit
      </ion-button>
    </ion-col>
  </ion-row>  
</ion-grid>

<ion-grid class="px-7 sm:px-20">
  <ion-row class="flex">
    <ion-col>
      <ion-text>
        <ion-title class="p-0">Description</ion-title>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="">
    <ion-col class="">
      <ion-input expand="block" fill="outline" class="bg-mainBlue rounded" placeholder="Many companies eventually get to a point 
      where future work depends on new solutions 
      and skills in the workforce. However, that 
      doesn't mean that your business is able...
      "></ion-input>
    </ion-col>
    <ion-col size="2">
      <ion-button class="mx-5" type="submit" expand="block" fill="outline">Edit
      </ion-button>
    </ion-col>
  </ion-row>  
</ion-grid>

<ion-grid class="px-7 sm:px-20">
  <ion-row class="flex">
    <ion-col>
      <ion-text>
        <ion-title class="p-0">Problem 1</ion-title>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="">
    <ion-col class="">
      <ion-input expand="block" fill="outline" class="bg-mainBlue rounded" placeholder="Many companies eventually get to a point 
      where future work depends on new solutions 
      and skills in the workforce. However, that 
      doesn't mean that your business is able...
      "></ion-input>
    </ion-col>
    <ion-col size="2">
      <ion-button class="mx-5" type="submit" expand="block" fill="outline">Edit
      </ion-button>
    </ion-col>
  </ion-row>  
</ion-grid>

<ion-grid class="px-7 sm:px-20">
  <ion-row class="flex">
    <ion-col>
      <ion-text>
        <ion-title class="p-0">Solution 1</ion-title>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="">
    <ion-col class="">
      <ion-input expand="block" fill="outline" class="bg-mainBlue rounded" placeholder="Many companies eventually get to a point 
      where future work depends on new solutions 
      and skills in the workforce. However, that 
      doesn't mean that your business is able...
      "></ion-input>
    </ion-col>
    <ion-col size="2">
      <ion-button class="mx-5" type="submit" expand="block" fill="outline">Edit
      </ion-button>
    </ion-col>
  </ion-row>  
</ion-grid>


<ion-button type="button" (click)="logout()">
  Sign out
</ion-button>
