<ul
  class="text-sm text-white fixed z-30 xl:hidden bottom-0 mx-auto flex space-x-5 bg-gray-700 p-5 w-full justify-center"
>
  <li
    class="hover:text-gray-400 transition-all delay-50 ease-in-out cursor-pointer"
    (click)="QualityEducation()"
  >
    <a href="#intro"> Quality Education </a>
  </li>
  <li
    class="hover:text-gray-400 transition-all delay-50 ease-in-out cursor-pointer"
    (click)="Infrastructure()"
  >
    <a href="#intro">Infrastructure</a>
  </li>
  <li
    class="hover:text-gray-400 transition-all delay-50 ease-in-out cursor-pointer"
    (click)="LifeBelowWater()"
  >
    <a href="#intro">Life Below Water</a>
  </li>
  <li
    class="hover:text-gray-400 transition-all delay-50 ease-in-out cursor-pointer"
    (click)="GenderEquality()"
  >
    <a href="#intro">Gender Equality</a>
  </li>
</ul>

<ion-app class="scroll">
  <div class="bg-gradient-to-t from-black to-mainBlue">
    <!-- Outman -->
    <app-hero class="scroll h-screen"></app-hero>
    <ul
      class="z-30 fixed font-semibold text-xl hidden xl:block space-y-6 w-56 mt-16 text-white/40"
    >
      <div
        class="flex flex-row float-right hover:text-white transition-all delay-50 ease-in-out"
      >
        <li class="cursor-pointer" (click)="QualityEducation()">
          <a href="#intro"> Quality Education </a>
        </li>
        <img class="px-3" src="/assets/icon/arrow.svg" />
      </div>
      <div
        class="flex flex-row float-right hover:text-white transition-all delay-50 ease-in-out"
      >
        <li class="cursor-pointer" (click)="Infrastructure()">
          <a href="#intro">Infrastructure</a>
        </li>
        <img class="px-3" src="/assets/icon/arrow.svg" />
      </div>
      <div
        class="flex flex-row float-right hover:text-white transition-all delay-50 ease-in-out"
      >
        <li class="cursor-pointer" (click)="LifeBelowWater()">
          <a href="#intro">Life Below Water</a>
        </li>
        <img class="px-3" src="/assets/icon/arrow.svg" />
      </div>
      <div
        class="flex flex-row float-right hover:text-white transition-all delay-50 ease-in-out"
      >
        <li class="cursor-pointer" (click)="GenderEquality()">
          <a href="#intro">Gender Equality</a>
        </li>
        <img class="px-3" src="/assets/icon/arrow.svg" />
      </div>
    </ul>
    <div class="max-w-4xl mx-auto">
      <!-- Memis -->
      <app-intro [intro]="intro"></app-intro>

      <!-- Andreas -->
      <app-content
        [qualityEducation]="qualityEducation"
        [infrastructure]="infrastructure"
        [lifeBelowWater]="lifeBelowWater"
        [genderEquality]="genderEquality"
      ></app-content>

      <!-- Brith -->
      <app-footer></app-footer>
    </div>
  </div>
</ion-app>
