<ion-app class="bg-red-500">
  <div>
    <ion-router-outlet>
      
      <ul class="font-semibold p-20 text-2xl hidden xl:block z-20">
        <li class="">Quality Education</li>
        <li class="">Infrastructure</li>
        <li class="">Life Below Water</li>
        <li class="">Gender Equality</li>
      </ul>

    </ion-router-outlet>
  </div>
  <ul
    class="text-sm xl:hidden z-20 top-0 mx-auto flex space-x-10 bg-white text-black p-5 w-full justify-center"
  >
    <li>Quality Education</li>
    <li>Infrastructure</li>
    <li>Life Below Water</li>
    <li>Gender Equality</li>
  </ul>
</ion-app>
