<ion-app class="scroll">
  <!-- Outman -->
  <app-hero></app-hero>
  <div class="">
    <ul
      class="z-30 fixed font-semibold text-xl hidden xl:block space-y-6 w-56 mt-16"
    >
      <div class="flex flex-row float-right">
        <li class="cursor-pointer" (click)="QualityEducation()">Quality Education</li>
        <img class="px-3" src="/assets/icon/arrow.svg" />
      </div>
      <div class="flex flex-row float-right">
        <li class="cursor-pointer" (click)="Infrastructure()">Infrastructure</li>
        <img class="px-3" src="/assets/icon/arrow.svg" />
      </div>
      <div class="flex flex-row float-right">
        <li class="cursor-pointer" (click)="LifeBelowWater()">Life Below Water</li>
        <img class="px-3" src="/assets/icon/arrow.svg" />
      </div>
      <div class="flex flex-row float-right">
        <li class="cursor-pointer" (click)="GenderEquality()">Gender Equality</li>
        <img class="px-3" src="/assets/icon/arrow.svg" />
      </div>
    </ul>
  </div>
  <div class="bg-gradient-to-t from-black to-mainBlue">
    <div class="max-w-4xl mx-auto">
      <!-- Memis -->
      <app-intro [intro]="intro"></app-intro>

      <!-- Andreas -->
      <app-content
        [qualityEducation]="qualityEducation"
        [infrastructure]="infrastructure"
        [lifeBelowWater]="lifeBelowWater"
        [genderEquality]="genderEquality"
      ></app-content>

      <!-- Brith -->
      <app-footer></app-footer>
    </div>
  </div>
</ion-app>

<!-- <div class="p-5">
  <button class="bg-red-500 py-5" (click)="changeText()">
    {{ btnVal }}
  </button>
</div>

<div class="z-50">
  <div>
    <ul class="font-semibold p-20 text-2xl hidden xl:block z-20">
      <li class="">Quality Education</li>
      <li class="">Infrastructure</li>
      <li class="">Life Below Water</li>
      <li class="">Gender Equality</li>
    </ul>
  </div>
  <div>
    <ul
      class="text-sm xl:hidden top-0 mx-auto flex space-x-10 bg-white text-black p-5 w-full justify-center"
    >
      <li>Quality Education</li>
      <li>Infrastructure</li>
      <li>Life Below Water</li>
      <li>Gender Equality</li>
    </ul>
  </div>
</div> -->
