<div class="container">
  <h1 class="read">Read</h1>
  <ul class="boks" *ngFor="let data of readData">
    <div class="bg-blue-500 px-3 py-2">
      <button>
        <a [routerLink]="['/update', data.idarticle]">Edit</a>
      </button>
    </div>
    <h1 class="overskrift">{{ data.title }}</h1>
    <li>
      {{ data.title }}
    </li>
    <li>
      {{ data.descr }}
    </li>
    <li>
      {{ data.prob1 }}
    </li>
    <li>
      {{ data.sol1 }}
    </li>
    <li>
      {{ data.prob2 }}
    </li>
    <li>
      {{ data.sol2 }}
    </li>
    <li>
      {{ data.prob3 }}
    </li>
    <li>
      {{ data.sol3 }}
    </li>
    <li>
      {{ data.prob4 }}
    </li>
    <li>
      {{ data.sol4 }}
    </li>
    <div class="bg-red-500 px-3 py-2">
      <button (click)="deleteArticleID(data.idarticle)">Delete</button>
    </div>
  </ul>
</div>
