<div>
  <div class="flex p-20">
    <div class="">
      <h2 class="text-3xl mb-5">Ensure Inclusive and Equitable Education</h2>
      <p class="text-xl text-white/60 leading-tight pr-24">
        We’re passionate about doing the best digital innovation we can and
        pushing new technology to its limits. And we achieve results we’re proud
        of.
      </p>
    </div>
    <div>
      <img
        src="https://miro.medium.com/max/720/1*a5h7AJISKYMspgWVmU5pYA.jpeg"
        alt=""
      />
    </div>
  </div>
  <h2 class="text-3xl text-white/70 px-20 leading-loose">
    We’re passionate about doing the best digital innovation we can and pushing
    new technology to its limits. <br /><br />
    We’re passionate about doing the best digital innovation we can and pushing
    new technology to its limits. <br /><br />
    We’re passionate about doing the best digital innovation we can and pushing
    new technology to its limits. And we achieve results we’re proud of. We’re
    passionate about doing the best digital innovation we can and pushing new
    technology to its limits. And we achieve results we’re proud of.
  </h2>
</div>
