<div class="containeren">
  <div id="flex" class="flex p-20">
    <div class="childContainer">
      {{ genderEquality.title }}
      {{ lifeBelowWater.title }}
      <h2 id="overskrift">Ensure Inclusive and Equitable Education</h2>
      <p id="tekst" class="text-white/70" id="tekst">
        We’re passionate about doing the best digital innovation we can and
        pushing new technology to its limits. And we achieve results we’re proud
        of.
      </p>
    </div>
    <div class="pic rounded-xl">
      <img
        src="https://miro.medium.com/max/720/1*a5h7AJISKYMspgWVmU5pYA.jpeg"
        alt=""
      />
    </div>
  </div>
  <p id="tekst" class="text-3xl text-white/70 px-20 leading-loose">
    We’re passionate about doing the best digital innovation we can and pushing
    new technology to its limits. <br /><br />
    We’re passionate about doing the best digital innovation we can and pushing
    new technology to its limits. <br /><br />
    We’re passionate about doing the best digital innovation we can and pushing
    new technology to its limits. And we achieve results we’re proud of. We’re
    passionate about doing the best digital innovation we can and pushing new
    technology to its limits. And we achieve results we’re proud of.
  </p>
</div>
