#tekst {
  font-size: 17px;
}

#overskrift {
  font-size: 255px;
  text-align: left;
  width: 100%;
  font-weight: 500;
  margin-bottom: 13px;
}
#overskrift {
  font-size: 25px;
}
.pic {
  margin: 20px 0px !important;
}
.pic.rounded-xl img {
  border-radius: 4px;
}
@media screen and (min-width: 769px) {
  #overskrift {
    font-size: 32px;
  }
  #tekst {
    font-size: 24px;
  }
}
