.containeren #tekst {
  font-size: 17px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  line-height: 1.5em;
}

.containeren {
  margin: 10px;
  margin-top: none;
}

#tekst {
  font-size: 17px;
}

.containeren #overskrift {
  font-size: 255px;
  text-align: left;
  width: 100%;
  font-weight: 500;
  margin-bottom: 13px;
}
#overskrift {
  font-size: 25px;
}
.pic {
  margin: 20px 0px !important;
}
.pic.rounded-xl img {
  border-radius: 4px;
}
@media screen and (min-width: 769px) {
  #overskrift {
    font-size: 32px;
  }
  .containeren #tekst {
    font-size: 24px;
  }
}
